<h1> All my lists </h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end  %>
</ul>
<%= link_to "Add new list", new_list_path, class: "btn btn-primary" %>
</ul>

<%= cl_image_tag("https://res.cloudinary.com/dbglim49p/image/upload/v1677237867/ejtgdpccnlj5phmlsvcl.jpg",
    width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("https://res.cloudinary.com/dbglim49p/image/upload/v1677237866/qvrgsqne5s9onz0kbtay.jpg",
    width: 150, height: 150, crop: :thumb, gravity: :face) %>
