<h1> All my lists </h1>

<div class="container">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-product my-2">
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-infos">
          <h2> <%= list.name %> </h2>
          <p>Discover now!</p>
        </div>
      </div>
    <% end  %>
  <% end  %>
</div>

<%= link_to "Add new list", new_list_path, class: "btn btn-primary" %>
